* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(159, 255, 218);
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(13, 165, 102);
    width: 320px;
    margin: 0 auto;
    padding: 20px;
    transform: translate(0%, 150%);
    background: linear-gradient(to bottom, rgb(159, 255, 218), rgb(8, 211, 150));
    border-radius: 5px;
}

.stopWatch-outline {
    display: flex;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.stopWatch-holder {
    display: flex;
    align-items: center;
    color: rgb(0, 71, 48);
}

.stopWatch-holder span {
    padding: 5px;
}

.stopWatch-holder div {
    display: flex;
    align-items: center;
    font-size: 30px
}

.button-container {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

button {
    padding: 20px;
    background: none;
    cursor: pointer;
    border: 1px solid rgb(0, 71, 48);
    transition: 0.35s;
}

button:hover {
    background-color: rgb(0, 71, 48);
    color: rgb(159, 255, 218);
    transition: 0.35s;
}

button:focus {
    background-color: rgb(0, 71, 48);
    color: rgb(159, 255, 218);
    box-shadow: 1px 1px 4px 0px rgb(255, 255, 255);
}